<br/>
<br/>

<!-- ENCABEZADO -->
<div class="container">
  <div class="row bg-primary formato text-white text-center rounded">
    <div class="col-sm-5">
      <strong class="text-dark">FORMATO:</strong> {{format.NAME}}
    </div>
    <div class="col-sm-4">
      <strong class="text-dark">CÓDIGO:</strong> {{format.CODE}}
    </div>
    <div class="col-sm-3">
      <strong class="text-dark">VERSIÓN:</strong>   {{format.VERSION}}
    </div>
  </div>
</div>
<br/>
<br/>

<!-- INFORMACION PROGRAMA -->
<div class="container   rounded text-justify formato text-white">
  <div class="row bg-secondary rounded-top">
    <div class="col-sm-6">
      <strong class="text-dark">PERIODO:</strong> {{program.BEGIN}} / {{program.END}}
    </div>
    <div class="col-sm-6">
      <strong class="text-dark">FECHA ELABORACIÓN:</strong> {{program.CREATED_AT}}
    </div>
  </div>
  <div class="row bg-secondary">
    <div class="col-sm-12">
      <strong class="text-dark">OBJETIVO:</strong> {{program.OBJECTIVES}}
    </div>
  </div>
  <div class="row bg-secondary">
    <div class="col-sm-12">
      <strong class="text-dark">AVANCES:</strong> {{program.SCOPE}}
    </div>
  </div>
  <div class="row bg-secondary">
    <div class="col-sm-12">
      <strong class="text-dark">RESPONSABILIDATES:</strong> {{program.RESPONSABILITIES}}
    </div>
  </div>
  <div class="row bg-secondary">
    <div class="col-sm-12">
      <strong class="text-dark">RECURSOS:</strong> {{program.RESOURCES}}
    </div>
  </div>
  <div class="row bg-secondary rounded-bottom">
    <div class="col-sm-12">
      <strong class="text-dark">OBSERVACIONES:</strong> {{program.OBSERVATION}}
    </div>
  </div>
</div>
<!-- AUDITORIAS -->



            <!-- <tr *ngFor="let audit of audits;let i = index;">
                <app-audit-list [_audit]="audit" [index]="i"></app-audit-list>
            </tr> -->
            <app-audit-list [_audit]="audits"></app-audit-list>
