<div class="container formato">
  <div class="" *ngIf="_audit">
    <table class="table table-striped table-hover">
        <thead>
            <tr>

              <th>{{label_id}}</th>
              <th>{{label_name}}</th>
              <th>{{label_objective}}</th>
              <th>{{label_date_begin}}</th>
              <th>{{label_date_end}}</th>
              <th>{{actions}}</th>
            </tr>
        </thead>
        <tbody>
<tr *ngFor="let audit of _audit;let i = index;">
            <td>{{ i + 1 }}</td>
            <td class="label_name">{{audit.NAME}}</td>
            <td class="label_objectivo">{{ (audit.OBJECTIVE.length>150)? (audit.OBJECTIVE | slice:0:150)+'..':(audit.OBJECTIVE) }}</td>
            <td>{{audit.DATA_BEGIN}}</td>
            <td>{{audit.DATA_BEGIN}}</td>
            <td>
              <a [routerLink]="['../program', audit.ID]" title="edit" class="edit btn btn-primary"><i class="fa fa-eye"> </i></a>
              <a [routerLink]="['../program-update', audit.ID]" title="edit" class="edit btn btn-warning"><i class="fa fa-edit"> </i></a>
              <a (click)="delete(audit.ID)" title="delete" class="delete btn btn-danger"><i class="fa fa-trash"> </i></a>
            </td>
</tr>
</tbody>
</table>
</div>
</div>
